.call__title, .call__btn {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}

@font-face {
  font-family: "Dosis-Mediumm";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Mediumm.woff2") format("woff2"), url("../fonts/Dosis-Mediumm.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

/* ---------------- container start --------------*/
.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

/* ---------------- container end -------------*/
/* ---------------- header start --------------*/
.header {
  background-color: #2b4074;
}

.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}

.logo__link {
  margin-left: 8px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 18px;
  }
}

@media (min-width: 768px) {
  .logo__link {
    margin-left: 0px;
  }
}

.menu__btn {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
}

.menu__btn::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2b4074;
  position: absolute;
  top: 15px;
  left: 14px;
  -webkit-box-shadow: 0 4px 0 0 #2b4074, 0 8px 0 0 #2b4074;
          box-shadow: 0 4px 0 0 #2b4074, 0 8px 0 0 #2b4074;
}

@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
}

/* ---------------- header end -------------*/
/* ---------------- head start -------------*/
.head {
  background-image: url("../images/head-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  /* background-position: -16px -121px;*/
  background-size: cover;
  min-height: 193px;
}

/* ---------------- head end -----------------*/
/* ---------------- top-slider start ---------*/
.top-slider {
  background: rgba(33, 33, 33, 0.5);
}

.top-slider__item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}

.top-slider__title {
  font-family: "RobotoCondensed-Regular";
  line-height: 28px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 36px 0 28px;
  max-width: 243px;
  margin: 0 auto;
  position: relative;
}

.top-slider__title::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 8px;
  width: 61px;
  margin: 0 auto;
  background-color: #4a4a4a;
}

.top-slider__text {
  display: none;
}

.top-slider__btn {
  display: none;
}

.top-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476e4d;
}

.top-slider .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #2b4074;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .top-slider__item {
    min-height: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    max-width: 520px;
  }
  .top-slider__btn {
    display: block;
    margin: 0 auto 113px;
    padding: 16px 45px;
    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #2b4074;
    color: #f9f6e5;
    border: none;
    border-radius: 3px;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .top-slider .slick-arrow {
    height: 56px;
    width: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .top-slider .slick-prev {
    top: calc(50% - 56px);
    background-color: #2b4074;
  }
  .top-slider .slick-next {
    bottom: calc(50% - 56px);
    background-color: #f9f6e5;
  }
}

@media (min-width: 768px) {
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__title {
    padding: 87px 0 0;
    margin: 0 auto 0;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    display: block;
    max-width: 587px;
    padding: 31px 0 32px;
    font-family: "RobotoCondensed-Regular";
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    padding-top: 101px;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  .top-slider__text {
    padding: 29px 0 12px;
    max-width: 590px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .top-slider__item {
    min-height: 668px;
  }
  .top-slider__title {
    padding-top: 107px;
    font-size: 96px;
    line-height: 96px;
    max-width: 865px;
  }
  .top-slider__text {
    padding: 18px 0 28px;
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }
  .top-slider .slick-dots .slick-active button {
    border: 1px solid #fff;
  }
  .top-slider .slick-dots button {
    background-color: #fff;
  }
  .top-slider .slick-arrow {
    height: 70px;
    width: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }
}

/* ---------------- top-slider end ------------*/
/* ---------------- call start ----------------*/
.call {
  background-color: #2b4074;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.call__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}

.call__text {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 40px;
}

.call__btn {
  text-transform: uppercase;
  color: #2b4074;
  font-size: 18px;
  line-height: 18px;
  background-color: #f9f6e5;
  border-radius: 3px;
  border: none;
  padding: 16px 15px;
}

@media (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .call__box {
    max-width: 695px;
  }
}

@media (min-width: 1440px) {
  .call__inner {
    padding: 0 80px;
  }
  .call__box {
    max-width: 796px;
  }
  .call__title {
    line-height: 32px;
  }
}

/* ---------------- call end ----------------*/
/*# sourceMappingURL=style.css.map */